*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/IMG_3415.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
}
.main{
    width: 100%;
    height: 100vh;
}
nav ol{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
nav ol li{
    margin: 15px;
}
nav ol li a{
    padding: 12px 24px;
    background: #FFA500;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}
nav input{
    margin-left: 150px;
    width: 320px;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    background: #FFA500;
    box-shadow: 6px 6px 12px #c94040,-6px -6px 12px #FF5252;
    border: none;
    outline: none;
}
input::placeholder{
    color: white;
}
i{
    margin-left: 12px;
    color: white;
    background: #e44949;
    box-shadow: 6px 6px 12px #c94040,-6px -6px 12px #FF5252;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}
nav ol li a:hover,input:hover,i:hover{
    box-shadow: inset 6px 6px 12px #c94040,-6px -6px 12px #FF5252;
}
@media(max-width: 1140px){
    .main nav{
        flex-direction: column;
    }
    .search-box{
        margin-top: 20px;
    }
    nav input{
        margin-left: 0;
    }
}
@media(max-width: 425px){
    nav input{
        width: 170px;
    }
}
.note{
    width: 1180px;
    position: absolute;
    /*border: 1px solid red;*/
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    color: black;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}


.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2;
}


.btn-full{
    background-color: transparent;
    color: #FFA500;
    margin-right: 15px;
    border: 1px solid #FFA500;
}

.btn-full:hover{
    background-color: rgb(230, 9, 9);
}

.btn-nav{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.btn-nav:hover{
    background-color: #FFA500;
}



.colorchange{
    animation:  colorchangemavidstainlesscreation 1s infinite;
}

@keyframes colorchangemavidstainlesscreation{
    0%{color: red;}
    25%{color: #a53636;}
    50%{color: white;}
    100%{color: #6455ec;}
}